<div id="<%= dom_id request %>">
  <div class="card text-center">
    <div class="card-header">
      <%= request.store.user.name %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= request.product.name %></h5>
      <p class="card-text"><%= request.description %></p>
      <p class="badge rounded-pill text-wrap bg-opacity-75 bg-secondary"><%= request.state %></p>
    </div>
    <div class="card-footer text-muted">
      <%= time_ago_in_words(request.created_at) %> ago
    </div>
  </div>
</div>